<link rel="stylesheet" href="/css/footer.css" />

<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center">
  <!-- Grid container -->
  <!-- Section: Social media -->
  <!-- Instagram -->
  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="https://www.instagram.com/jasiusajko/"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="fab fa-instagram"></i
  ></a>

  <!-- Linkedin -->
  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="https://www.linkedin.com/in/jan-%C5%82ukasz-maliszewski-470593232/"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="fab fa-linkedin"></i
  ></a>
  <!-- Github -->
  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="https://github.com/des1ro"
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="fab fa-github"></i
  ></a>

  <!-- Section: Social media -->
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="">Des1ro</a>
  </div>

  <!-- Copyright -->
</footer>
<!-- End of .container -->
