<%- include('layout') %>
<title>Auth Error</title>
<main>
  <div class="parallax">
    <div class="container">
      <h1>
        Unauthorized access <br />
        Please login again! <br />
        <div class="text-center"></div>
        <a href="/login">
          <img src="/login.png" class="login-button top-right-button"
        /></a>
      </h1>
    </div>
  </div>
</main>
