<link rel="stylesheet" href="./css/modal.css" />
<body>
  <button id="openModalBtn">Otwórz modal</button>

  <div id="tripModal" class="modal" method="POST" action="/trip">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>New Trip</h2>
      <form id="tripForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required />

        <label for="place">Place:</label>
        <input type="text" id="place" name="place" />

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <script src="js/modal.js"></script>
</body>
