<!DOCTYPE html>
<html lang="en">
  <%- include('layout') %>
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>

    <!-- Dodaj link do arkusza stylów CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body></body>
</html>
