<%- include('layout') %>
<title>Error</title>
<main>
  <div class="parallax">
    <div class="container">
      <h1><%= error %></h1>
      <br />
      <br />
      <div class="text-center">
        <a href="trip-form" class="btn btn-primary btn-lg" type="button">Try again</a>
        <a href="/" class="btn btn-primary btn-lg" type="button">See actual</a>
      </div>
    </div>
  </div>
</main>
