/* Styl dla paska nawigacyjnego */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: sticky;
  top: 0;
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0); /* Przezroczyste tło na początku */
}

/* Pozostałe style jak wcześniej */

.navbar-scroll-up {
  background-color: rgba(5, 1, 221, 0.8); /* Kolor tła po przewinięciu strony w górę */
}

.nav-links a {
  margin-right: 100px; /* Odstęp między przyciskami */
  text-decoration: none;
  color: #333; /* Kolor tekstu */
  font-weight: bold;
  transition: color 0.3s; /* Animacja zmiany koloru tekstu */
  width: 15vw; /* Skaluje się względem szerokości widoku przeglądania */
  height: 10vh; /* Skaluje się względem wysokości widoku przeglądania */
  margin: 1vw; /* Działa w oparciu o szerokość widoku przeglądania */
  font-size: 1vw; /* Skaluje się względem szerokości widoku przeglądania */
}

.nav-links a:hover {
  color: #154b85; /* Kolor tekstu po najechaniu myszą */
}

.navbar-content {
  max-width: 1200px; /* Maksymalna szerokość zawartości paska */
  margin: 0 auto; /* Wycentrowanie zawartości paska */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Dodaj odpowiednie wypełnienie */
}

.navbar-scroll-up {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Lekko przezroczysty kolor przy przewijaniu w górę */
  padding: 0 20px; /* Dodaj odpowiednie wypełnienie */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Dodaj cień */
}
